/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 2, 2021, 4:58:27 PM
    Author     : bader
*/

/* ///////////////////////////=================== Theme.css which includes defaults =================//////////////////////////////////////////////// */
@import "../Theme.css";
/* ///////////////////////////=======================================================================//////////////////////////////////////////////// */


/*body
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}*/

.container
{
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 20px;   
   padding: 30px;
   background-color: transparent;
}

.left
{
    width: 600px;
    height: 480px;
    min-width: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    border-radius: 20px 0 0 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-top: 10px;
}

.right
{
    width: 600px;
    height: 480px;
    min-width: 350px;
    background-color: whitesmoke;
    border-radius: 0 20px 20px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px;
    margin-top: 10px;
}

.right img
{
    width: 280px;
}

.title
{
    font-size: 33px;
    text-align: left;
    color: var(--color-accent);
    padding: 10px;
    margin-top: 5px;
}

.input-form
{
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 15px;
    color: var(--color-accent);
    font-size: 20px;
}

.input-form input
{
    width: 250px;
    height: 36px;
    border: 1px solid #dddddd;
}

.input-form label
{
    margin-bottom: 5px;
}

.input-form-button input
{
    width: 250px;
    height: 36px;
    border: 0;
    margin: 30px 15px 15px 15px;
    color: white;
    font-size: 18px;
    background-color: var(--color-accent);
}

.input-form-button input:hover
{
    cursor: pointer;
    background-color: var(--color-primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.register-hint
{
    color: grey;
    margin-top: 20px;
}

.register-hint a
{
    text-decoration: none;
    color: #1768ac;
}

