//=== Application Theme Color System ===//

// palette: https://colorhunt.co/palette/225760
$color-background: #dddddd;
$color-primary: #f05454;
$color-primary-dark: #903749;
$color-accent: #30475e;
$color-accent-dark: #222831;
$color-shadow: rgb(34, 40, 49, 0.1);

/*
$color-background: whitesmoke;
$color-primary: #ef5350;
$color-primary-dark: #a52e2c;
$color-accent: rgb(35, 172, 172);
$color-accent-dark: rgb(26, 104, 104);
$color-shadow: rgba(0, 0, 0, 0.1);
*/