/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 2, 2021, 4:59:23 PM
    Author     : bader
*/
/* ///////////////////////////=================== Theme.css which includes defaults =================//////////////////////////////////////////////// */
@import "../Theme.css";
/* ///////////////////////////=======================================================================//////////////////////////////////////////////// */

.container
{
   width: 100%;
   display: flex;
   flex-direction: row-reverse; /* reverse to show image card bellow form */
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 30px;
   background-color: transparent;
   
   background-image: url('./../Resources/Images/DefaultBackground.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat; 
   background-attachment: fixed; 
}


.register-form
{
    width: 720px;
    height: fit-content;
    min-width: 350px;
    background-color: whitesmoke;
    border-radius: 20px 0 0 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 30px;
    margin: 30px 0 30px 0;
}

.right
{
    width: 480px;
    height: fit-content;
    min-width: 300px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 30px 0 30px 0;
    border-radius: 0 20px 20px 0;
}

.title
{
    width: 100%;
    font-size: 33px;
    text-align: left;
    color: var(--color-accent);
    padding: 10px;
    margin-top: 5px;
    font-weight: 300;
}


.description
{
    border-radius: 6px;
    padding: 6px;
    border: 1px solid #dddddd;
    color: var(--color-accent);
    font-size: 17px;
 /*   
    color: white;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid #000046;
    border-radius: 3px;
    padding: 10px;
    background-image: url("./../Resources/Images/DefaultBackground.jpg");
   
    background-size: cover;
    background-position: center center;
 */
}

.description span
{
    color: dimgray;
    font-size: 14px;
    font-weight: 100;
}


.input-form
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 18px;
}


.input-form label
{
    width: 190px;
    font-weight: 100;
}

.input-form textarea{
    width: 250px;
    border: 1px solid var(--color-accent);
    border-radius: 8px;
    resize: none;
}
.input-form input, select {
    width: 250px;
    height: 33px;
    border: 1px solid var(--color-accent);
    border-radius: 3px;
}



.register-button 
{
    width: 250px;
    height: 36px;
    border: 0;
    color: white;
    font-size: 18px;
    background-color: var(--color-accent);
}

.register-button:hover
{
    cursor: pointer;
    background-color: var(--color-primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


.button-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 0 0 ;

}


.login-hint
{
    color: grey;
    margin-top: 20px;
}

.login-hint a
{
    text-decoration: none;
    color: #1768ac;
}