/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 2, 2021, 4:59:23 PM
    Author     : bader
*/
/* ///////////////////////////=================== Theme.css which includes defaults =================//////////////////////////////////////////////// */
@import "../Theme.css";
/* ///////////////////////////=======================================================================//////////////////////////////////////////////// */



.background-image
{
   width: 100%; 
   height: 100%;
   /*background-image: url('./../Resources/Images/AcceuilBackground.jpg');*/
   background-image: url('./../Resources/Images/undraw_gifts_btw0.png');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat; 
   background-attachment: fixed;  
}

.container
{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 15px;   
}

.register-form
{
    min-width: 300px;
    background-color: var(--color-background);
    width: 45%;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title
{
    font-size: 33px;
    text-align: center;
    color: var(--color-accent);
}


.description
{
    color: white;
    font-size: 18px;
    font-weight: 300;
    border: 1px solid #000046;
    border-radius: 3px;
    padding: 10px;
    background-image: url("./../Resources/Images/DefaultBackground.jpg");
   
    background-size: cover;
    background-position: center center;
}

.description span
{
    color: linen;
    font-size: 14px;
    font-weight: 100;
}


.input-form
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 18px;
}


.input-form label
{
    width: 190px;
    font-weight: 100;
}

.input-form textarea{
    width: 250px;
    border: 1px solid var(--color-accent);
    border-radius: 8px;
    resize: none;
}
.input-form input, select {
    width: 250px;
    height: 33px;
    border: 1px solid var(--color-accent);
    border-radius: 3px;
}


.register-button
{
    width: 250px;
    height: 36px;
   /* border: 1px solid var(--color-primary); */
    border-radius: 6px;
    background-color: var(--color-accent);
    color: whitesmoke;
    margin-top: 30px;
    font-size: 15px;
}

.register-button:hover{
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
}



