.small_divider
{
    height: 6px;
    background-color: rgb(59, 23, 23);
}
.header
{
    height: 6.0rem; // 6.0rem is equivelent 60px
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1); // header shadow as a card

    // Linear Gradient color
  //  background-image: linear-gradient(to right, whitesmoke, rgb(248, 92, 92));
    background-color: rgb(238, 98, 98);
    display: flex;

    // Logo
    img
    {
        padding: 10px;
        margin-left: 2.0rem; // 25px
    } 
    
    
}