/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 3, 2021, 9:24:38 PM
    Author     : bader
*/


/* ///////////////////////////=================== Theme.css which includes defaults =================//////////////////////////////////////////////// */
@import "../Theme.css";
/* ///////////////////////////=======================================================================//////////////////////////////////////////////// */


.background-image
{
   width: 100%; 
   height: 100%;
   background-image: url('./../Resources/Images/DefaultBackground.jpg');
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat; 
   background-attachment: fixed; 
   
   /*background-color: var(--color-background);*/
}
.container
{
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
}


.donneur-details
{
    width: 50%;
    min-width: 350px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 36px;
    /*padding: 5px;*/

}

.donneur-details-header
{
    
    /*width: 100%;
    background-color: var(--color-accent);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;*/
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./../Resources/Images/PalleteBackgroud.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 

}
.profile-image
{
    border-radius: 50%;
    margin: 15px 15px 3px 15px;
    width: 200px;
}

.profile-full-name-container
{
    display: flex;
    color: whitesmoke;
    font-size: 27px;
    font-weight: 600;
    margin: 5px;
    text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
    letter-spacing: .2rem;
}   


.profile-disponible
{
    background-color: #39a6a3;
    color: white;
    border-radius: 12px;
    padding: 6px;
    font-size: 15px;
    font-weight: 100;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.profile-indisponible
{
    background-color: tomato;
    color: white;
    border-radius: 12px;
    padding: 6px;
    font-size: 15px;
    font-weight: 100;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}



.profile-section-title
{
    font-size: 20px;
    font-weight: 600;
    color: #1768ac;
    text-align: center;
}
.profile-groupe-sanguin
{
    background-color: #f55c47;
    color: white;
    border-radius: 10%;
    padding: 5px;
    font-size: 24px;
    font-weight: 900;
    margin: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 500ms;
    letter-spacing: .3rem;
}
.profile-groupe-sanguin:hover
{
    cursor: pointer;
    padding: 20px;
        font-size: 33px;
    transition: 500ms;
}


.profile-region-ville, .profile-date-naissance, .profile-telephone, .profile-email
{
    margin: 0 15px 0 15px;
    font-size: 16px;
    color: grey;
    padding: 10px;

}



.divider
{
    width: 100%;
    height: 1px;
    margin: 15px 0 15px 0;
    background-color: #dddddd;
}